.catalogue-module {
  padding: 64px 144px;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-voir-modules {
      color: var(--primary);
      text-decoration: none;
    }
  }
}
