footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 48px;

  .main-logo {
    display: flex;
    align-items: center;
    gap: 5px;

    .logo-icon {
      color: var(--primary);
    }

    .logo-text {
      font-weight: bold;
    }
  }

  .links-wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);

    a {
      color: var(--text-muted);

      &:hover {
        color: var(--text);
      }
    }
  }
}
